services:
  github-runner:
    build:
      context: .
      args:
        RUNNER_VERSION: latest
        PHP_VERSION: "8.1"
    container_name: github-self-hosted-runner
    restart: unless-stopped
    network_mode: host
    stdin_open: true
    tty: true
    environment:
      PHP_VERSION: "8.1"
      RUNNER_WORKDIR: /home/runner/_work
    volumes:
      - ./data/actions-runner:/home/runner/actions-runner
      - ./data/work:/home/runner/_work
